<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Rail Fence</title>
  </head>
  <body>
    <h1>Rail Fence</h1>
    <form action="/enc" method="post">
      <input type="text" name="key" placeholder="Enter Key" /><input
        type="text"
        name="text"
        placeholder="Paste your text to encrypt"
      /><button type="submit">Submit</button>
    </form>
    <form action="/dec" method="post">
      <input type="text" name="key" placeholder="Enter Key" /><input
        type="text"
        name="rail_fence_text"
        placeholder="Paste your text to decrypt"
      /><button type="submit">Submit</button>
    </form>
  </body>
</html>
