<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Rail Fence</title>
  </head>
  <body>
    <h1>Rail Fence</h1>
    <form>
      <input type="text" placeholder="Wprowadź klucz" /><input
        type="text"
        placeholder="Paste your text to encrypt"
      /><button type="submit">Potwierdź</button>
    </form>
    <form>
      <input type="text" placeholder="Wprowadź klucz" /><input
        type="text"
        placeholder="Paste your text to decrypt"
      /><button type="submit">Potwierdź</button>
    </form>
  </body>
</html>
